name: RSpec

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - name: Run rubocop
        run: bundle exec rubocop --parallel --format progress
  test:
    strategy:
      matrix:
        entry:
          - { ruby: '3.1', grape: '1.8.0' }
          - { ruby: '3.2', grape: '1.8.0' }
          - { ruby: '3.3', grape: '1.8.0' }
          - { ruby: '3.4', grape: '1.8.0' }
          - { ruby: '3.1', grape: '2.0.0' }
          - { ruby: '3.2', grape: '2.0.0' }
          - { ruby: '3.3', grape: '2.0.0' }
          - { ruby: '3.4', grape: '2.0.0' }
          - { ruby: '3.1', grape: '2.1.3' }
          - { ruby: '3.2', grape: '2.1.3' }
          - { ruby: '3.3', grape: '2.1.3' }
          - { ruby: '3.4', grape: '2.1.3' }
          - { ruby: '3.1', grape: '2.2.0' }
          - { ruby: '3.2', grape: '2.2.0' }
          - { ruby: '3.3', grape: '2.2.0' }
          - { ruby: '3.4', grape: '2.2.0' }
          - { ruby: 'head', grape: '2.2.0' }
          - { ruby: '3.2', grape: 'HEAD' }
          - { ruby: '3.3', grape: 'HEAD' }
          - { ruby: '3.4', grape: 'HEAD' }
    name: test (ruby=${{ matrix.entry.ruby }}, grape=${{ matrix.entry.grape }})
    runs-on: ubuntu-latest
    needs: ['rubocop']
    env:
      GRAPE_VERSION: ${{ matrix.entry.grape }}
    steps:
    - name: Check out branch
      uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.entry.ruby }}
    - name: Run rspec wo model parser
      run: |
        bundle update
        bundle exec rspec
    - name: Run rspec w entity parser
      env:
        MODEL_PARSER: grape-swagger-entity
      run: |
        bundle update
        bundle exec rspec
    - name: Run rspec w representable parser
      env:
        MODEL_PARSER: grape-swagger-representable
      run: |
        bundle update
        bundle exec rspec
