name: Ruby

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.6', '2.7', '3.0']
        grape-version: [1.5.3, 1.4.0, 1.3.3]
        model-parser: [grape-swagger-entity, grape-swagger-representable, '']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
      with:
        ruby-version: ${{ matrix.ruby-version }}
        GRAPE_VERSION: ${{ matrix.grape-version }}
        MODEL_PARSER: ${{ matrix.model-parser }}
        bundler-cache: true
    - name: Run rspec
      run: bundle exec rspec
    - name: Run rubocop
      run: bundle exec rubocop
